@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

#root,
body {
  margin: 0;
  background-color: #0c0b04;
  color: white;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-shadow: 0px 0px 0.7px rgba(255, 255, 255, 0.5);

  display: flex;
  height: calc(100vh - 50px);
  justify-content: center;
  align-items: center;
}

body {
  overflow-y: auto;
  position: relative;
  top: 50px;
}

.loading {
  cursor: wait !important;
}

.center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.active {
  color: white !important;
}

.text-center {
  text-align: center !important;
}

.no-wrap {
  flex-wrap: nowrap !important;
}

.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.full-height {
  height: 100vh;
  top: 0;
  overflow: hidden !important;
}

.header {
  background-color: #4e4e4e;
  padding: 10px 25px;
  display: flex;
  align-items: center;
  width: calc(100% - 50px);
  height: 30px;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
}

.logo {
  height: 100%;
  width: auto;
  margin-right: 10px;
}

.logo-title {
  position: relative;
  left: 0;
}

.navbar {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}


.nav-right-side {
  margin-left: auto;
  display: flex;
}

.nav-item-container {
  margin-left: 20px;
  height: 100%;
  width: auto;
  position: relative;
  cursor: pointer;
}

.nav-item-content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-in-container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  height: 100%;
  width: 40%;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
}

.sign-in-container img {
  position: relative;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1400px) {
  .sign-in-container img {
    width: 85%;
  }
}

@media screen and (max-width: 1280px) {
  .sign-in-container img {
    width: 75%;
  }
}

@media screen and (max-width: 900px) {
  .sign-in-container img {
    width: 65%;
  }

  .input-area {
    margin-bottom: 3% !important;
  }

  .sign-in-container {
    height: 80% !important;
  }

  .sign-in-container input {
    min-height: 40px !important;
    height: 80% !important;
    font-size: 1.2em !important;
  }

  .labelline {
    font-size: 1.3em !important;
    padding: 0 4% !important;
  }

  .sign-in-container input:focus+.labelline,
  .sign-in-container input.not-empty+.labelline {
    font-size: 1em !important;
    transform: translate(10%, -120%) !important;
  }
}

@media screen and (max-width: 750px) {
  .sign-in-container img {
    width: 65%;
  }

  .input-area {
    margin-bottom: 0% !important;
  }

  .sign-in-container input {
    min-height: 30px !important;
    height: 60% !important;
    font-size: 1.1em !important;
    border: 1.5px solid white !important;
  }

  .labelline {
    font-size: 1.0em !important;
    padding: 0 3% !important;
  }

  .sign-in-container input:focus+.labelline,
  .sign-in-container input.not-empty+.labelline {
    font-size: 0.9em !important;
    transform: translate(10%, -100%) !important;
  }

  .sign-in-container input:focus,
  .sign-in-container input.not-empty {
    border: 2.5px solid white !important;
  }
}



.input-area {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 10%;
  max-height: 60px;
  margin-bottom: 6%;
}

.sign-in-container input {
  font-family: 'Lexend Deca', sans-serif;
  box-sizing: border-box;
  position: absolute;
  color: white;
  width: 100%;
  height: 100%;
  min-height: 50px;
  outline: none;
  padding: 0 5%;
  font-size: 1.3em;
  border-radius: 10px;
  border: 2px solid white;
  background: transparent;
  transition: 0.1s ease;
  z-index: 1111;

}

.sign-in-container input:focus,
.sign-in-container input.not-empty {
  border: 4px solid white;
}

.sign-in-container input:focus+.labelline,
.sign-in-container input.not-empty+.labelline {
  font-size: 1.1em;
  transform: translate(10%, -140%);
  z-index: 1111;
}

.labelline {
  position: absolute;
  font-size: 1.6em;
  color: white;
  padding: 0 5%;
  margin: 0 1%;
  background-color: #0c0b04;
  transition: 0.2s ease;
}

.register-label {
  font-size: 1em;
}

.sign-in-container button {
  height: 5%;
  max-height: 60px;
  width: 30%;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 500;
  text-shadow: 0px 0px 0.7px rgba(255, 255, 255, 0.5);
  font-size: 1.6em;
  margin-bottom: 5%;
  color: white;
  background-color: #0c0b04;
  padding: 5%;
  border-radius: 10px;
  border: 2px solid white;
  transition: 0.1s ease;
  display: flex;
  justify-content: center;
  align-items: center;

}

.sign-in-container button:hover {
  color: #0c0b04;
  background-color: white;
  transition: 0.1s ease;
  cursor: pointer;
}

.container {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
}

.ability-scores {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  font-size: 13px;
  text-shadow: 0px 0px 0.7px rgba(255, 255, 255, 0.5);
}

.score-column {
  text-align: center;
}

.score-row {
  margin: 5px 0;
}

.score-row:last-child {
  padding-bottom: 10px;
}

.column input[type="text"] {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-shadow: 0px 0px 0.7px rgba(255, 255, 255, 0.5);

  width: 100%;
  color: white;
  background-color: transparent;
  border-radius: 0 !important;
  border: 0 solid black;
  border-bottom: 1px solid white;
  text-align: center;
  padding: 0;
}

.column input[type="text"]:focus {
  outline: none;
}

.column .value {
  font-weight: 500;
  font-size: 18px;
  border: 0 solid black;
  border-bottom: 1px solid white;
}

.score-name {
  font-weight: 800 !important;
}

.skill-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.skill-title-row {
  font-weight: bold;
  width: 30%;
  text-align: center;
}

.skill-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.full-skill-row {
  padding: 2px;
}

.full-skill-row:last-child {
  padding-bottom: 5px;
}

.skill-left {
  display: flex;
  flex: auto !important;
  box-sizing: border-box;
  width: 70% !important;
  text-align: left;
}

.skill-bonus {
  display: flex;
  flex: auto !important;
  box-sizing: border-box;
  width: 10% !important;
  text-align: right;
  justify-content: right;
}

.skill-title {
  display: flex;
  flex: auto !important;
  box-sizing: border-box;
  width: 90% !important;
  text-align: left;
}

.skill-right {
  display: flex;
  flex: auto !important;
  box-sizing: border-box;
  width: 30% !important;
  text-align: right;
}

.skill-input-column {
  display: flex;
  justify-content: center;
}

.column {
  box-sizing: border-box;
  width: 100%;
  flex: 1;
  padding-right: 0.25rem;
  padding-left: 0.25rem;
  min-width: 0;
}

.row {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.size-1 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.size-2 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.size-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.size-4 {
  flex: 0 0 75%;
  max-width: 75%;
}

.size-5 {
  flex: 0 0 50%;
  max-width: 50;
}

.size-6 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

@media (min-width: 576px) {
  .container {
    width: 540px !important;
    max-width: 100% !important;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px !important;
    max-width: 100% !important;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px !important;
    max-width: 100% !important;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px !important;
    max-width: 100% !important;
  }
}

.title-box h1, h2, h3, h4, h5, h6{
  margin: 0;
}

.box {
  background-color: #4b4b4b;
  margin-bottom: 5%;
}

.box-header {
  box-sizing: border-box;
  background-color: #606060;
}

.title {
  padding: 1%;
  font-size: 1em;
  margin: 0;
}

.characters-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-self: flex-start;
}

.characters-container h1 {
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}

.characters-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 75vw;
}

.character-column {
  padding: 0 !important;
  margin: 10px;
  box-sizing: border-box;
  flex: 1 0 calc(100% - 20px);
}

@media (min-width: 1024px) {
  .character-column {
    flex: 1 0 calc(50% - 20px);
  }
}

.character-card {
  background-color: #808080;
  padding: 1.25rem;
}

.character-card:hover {
  background-color: #9a9a9a;
  cursor: pointer;
}

.character-header-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.character-header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.character-header-labelline {
  margin: 5px 0;
  border-top: 3px solid white;
}

.style-container {
  margin-bottom: 15px;
}

.style-labelline {
  padding-top: 10px;
  border-top: 2px solid white;
}

.hit-points {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

}

.hit-points>div {
  margin-left: 10px;
  justify-content: center;
}

.Character-header-right {
  display: flex;
  justify-content: center;
}

.Character-header-right>div {
  margin-left: 10px;
}

.strength {
  color: lightcoral;
}

.dexterity {
  color: lightsalmon;
}

.constitution {
  color: lightgreen;
}

.intelligence {
  color: lightskyblue;
}

.wisdom {
  color: lavender;
}

.charisma {
  color: pink;
}